@model IEnumerable<IdentityCustomized.Models.Person>

@{
    
}

<h2><i class="@ViewBag.Icon"></i> @ViewBag.Title</h2>

<p>
    @Html.ActionLinkPermission("افزودن", "Create",null, new {@class = "btn btn-primary"})	
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonAge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonAge)
        </td>
        <td>
            @Html.ActionLinkPermission("ویرایش", "Edit", new { id=item.PersonID }, new {@class = "btn btn-info"}) 
            @Html.ActionLinkPermission("جزئیات", "Details", new { id=item.PersonID }, new {@class = "btn btn-default"}) 
            @Html.ActionLinkPermission("حذف", "Delete", new { id=item.PersonID }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
