@model List<IdentityCustomized.Models.RoleViewModel>
@{
    
}

<h2><i class="@ViewBag.Icon"></i> @ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
  .Name("Grid")
  .Columns(columns =>
  {
            columns.Bound(model => model.RoleName);
            columns.Bound(model => model.RoleNameLocalized);
            columns.Bound(item => @item.RoleID).Title("دستورات").Filterable(false).Groupable(false)
              .Template(@<text>
                    @Html.ActionLinkPermission("ویرایش", "Edit", new { id = @item.RoleID }, new { @class = "k-button" })
                    @Html.ActionLinkPermission("حذف", "Delete", new { id = @item.RoleID }, new { @class = "k-button" })
                </text>).Width(200);
  })
.ToolBar(toolbar =>
{            
    toolbar.Template(
        @<text>
            <div class="toolbar">
                @Html.ActionLinkPermission("افزودن","Create",null, new { @class = "k-button" })
            </div>
        </text>);
}
)
.Groupable()
.Pageable()
.Sortable()
.Scrollable()
.Filterable()
.DataSource(dataSource => dataSource.Server().Model(model => model.Id(item => item.RoleID)))
)




